.box {
    background-color: #c7c7c7;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    color: rgba(0,0,0,0.8);
    backdrop-filter: blur(4px);
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    text-align: center;
    padding: 10px;
    margin-top: 12rem;
    margin-bottom: 20px;
    color: crimson;
    text-shadow: 2px 2px blueviolet;
}