{% extends 'base.html' %}


{% block title %}

  about

{% endblock %}


{% block style %}

<link  rel="stylesheet" href="../static/css/about.css">

{% endblock %}

{% block content %}

<div class="container box">
  <div class="col-sm">
    <h1>memeGem</h1>
    <p><i>
      <b>memeGem</b>, czyli jedyne takie miejsce w internecie, w którym dzięki bogatej ofercie templejtów oraz 
      możliwości wgrania swoich własnych zdjęć, możesz tworzyć wysokiej jakości memy oraz dzielić się nimi ze znajomymi. 
      Jest to miejsce w którym oprócz podgladnięcia rozwiazań matury, możesz również oddać się rozrywce i pomóc wężowi zjeść cała masę kremówek.


    </i></p>
    
  </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">(c) wwwjs project 2022 g24</span>
    </div>
</footer>

{% endblock %}