{% extends 'base.html' %}


{% block title %}

    create-meme

{% endblock %}


{% block style %}

    <link rel="stylesheet" href="../static/css/style.css">

{% endblock %}

{% block content %}

<div class="container meme-container">

    <div class="row">

        <!-- canva -->

        <div class="col-md canvas-container">
            <canvas id="canvas"></canvas>
        </div>

        
        <!--utilities-->
        <div class="col-md">

            <div class="row utils-row">
                <!-- text&color -->
                <div class="row">
                    <div class="col-sm">
                        <textarea placeholder="Add text" id="text"></textarea>
                    </div>

                    <!-- <input class="col-sm" type="color" id="color"> -->

                    <div class="col-sm">
                        <div class="input-color-container">
                            <input id="color" class="input-color" type="color">
                        </div>
                    </div>

                    <div class="col-sm">
                        <button class="my-button" id="addText">Add Text</button>
                    </div>

                    
                    <div class="col-sm">
                        <button class="my-button" id="download">Download</button>
                    </div>

                    <div class="col-sm">
                        <button class="my-button" id="share">Send link</button>
                    </div>

                </div>

                <!--templates&upload-->
                <div class="row">
                    <div class="col select-box">
                        <div class="options-container" id="templates">
                            <div class="option">

                                <form role="search">
                                    <div class="row">
                                        <input type="text" class="form-control" placeholder="Search" id="searchField">
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="selected">
                            Select Template
                        </div>

                    </div>

                    <div class="col">
                        <input type="file" id="file" accept="image/*">
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/460/fabric.js"
        integrity="sha512-d5yqsvICrC8y0ivNsNizSCHXjzireXYU6LmzAvcrL97GMwEn0VKx1vclEwvtsh/yPD2EcATnUG1oEtJuFcTE3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

{% endblock %}