{% extends 'base.html' %}


{% block title %}

    snake

{% endblock %}


{% block style %}

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/snake.css">

{% endblock %}

{% block content %}

    <div id="game" style="margin: 3rem;">
        <audio loop id="song" style="display: none">
            <source src="../static/audio/song.wav" type="audio/wav">
        </audio>
        <audio class="game-sound" style="display: none">
            <source src="../static/audio/sound1.wav" type="audio/wav">
        </audio>
        <audio class="game-sound" style="display: none">
            <source src="../static/audio/sound2.wav" type="audio/wav">
        </audio>
        <audio class="game-sound" style="display: none">
            <source src="../static/audio/sound3.wav" type="audio/wav">
        </audio>
        <audio class="death-sound" style="display: none">
            <source src="../static/audio/okrutnik.wav" type="audio/wav">
        </audio>
        <h3 class="pie-count">Zjedzone kremówki: 0</h3>
        <p id="pie-highScore">Najlepszy wynik: 0</p>
        <h3 id="defeatText" style="display: none">Porażka!</h3>
        <h3 id="hintText" style="display: block">Naciśnij ↑↓←→ by grać</h3>
        <div class="replay-container">
            <button id="replay" style="display: none">Zagraj jeszcze raz</button>
        </div>
    </div>

    <script src="../static/snake.js"></script>
{% endblock %}
